<phpunit  colors="true">
        <testsuite name="Test1">
            <directory>./TEST</directory>
              <!-- <file>./TEST/mainTest.php</file> -->
        </testsuite>
         <testsuite name="Test2">
          <directory>./TEST</directory>
            <file>./TEST/Connection.php</file>
        </testsuite>
        <testsuite name="Test3">
            <directory>./TEST</directory>
            <file>./TEST/Verification.php</file>
        </testsuite>
  <filter>
  <whitelist processUncoveredFilesFromWhitelist="true">
    <directory suffix=".php">./TEST</directory>      
  </whitelist>
</filter>

    <coverage processUncoveredFilesFromWhitelist="true">
    <include>
        <directory suffix=".php">./TEST</directory>
    </include>
   </coverage>
  
  
</phpunit>